---

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <meta name="generator" content={Astro.generator}>
        <title>Solitare</title>
        <link rel="stylesheet" href="style.css">
        <script src="../game/main.ts"></script>
    </head>
    <body>
        <canvas id="solitare" class="w-screen h-screen"></canvas>
    </body>
</html>
